.cart-dropdown-container {
    position: absolute;
    width: 260px;
    // height: 340px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid #e5e7eb;
    background-color: white;
    top: 90px;
    right: 40px;
    z-index: 5;
  
    .empty-message {
      font-size: 18px;
      margin: 50px auto;
    }
  
    .cart-items {
      height: 240px;
      display: flex;
      flex-direction: column;
      overflow: scroll;
      scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    }
    .cart-items::-webkit-scrollbar { /* WebKit */
      width: 0;
      height: 0;
  }
  
    a {
        text-align: center;
        margin: auto auto 0;
        max-width: 170px;
        width: 100%;
    }
  }